<<<<<<< HEAD
﻿@* @{
=======
﻿@{
>>>>>>> 965d6b431c05997a9384c74234625b1a5ab0c5be
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<<<<<<< HEAD
 *@
=======
>>>>>>> 965d6b431c05997a9384c74234625b1a5ab0c5be
